@model SouthlandMetals.Web.Areas.Administration.Models.FoundryViewModel
<br />

<div class="row">
    <div class="col-md-10 centered">
        <div class="panel">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <div class="panel-title">
                        Foundries
                    </div>  
                </div>
                <div class="panel-body">
                    <table id="foundries" class="table table-bordered dt-responsive nowrap"></table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var foundries = @Html.Raw(Json.Encode(Model.Foundries));
</script>

@section Scripts{
    @Scripts.Render("~/Scripts/southlandMetals-foundries.js")
}